#title{
    background-color: #ff4c68;
    color: #fff;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;  
    font-weight: 900;
}
h2{
    font-size: 'Montserrat';
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
.container-fluid{
    padding: 3% 15%;
}
body{
    font-family: 'Montserrat';
}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
    padding-bottom: 4.5rem;
}
.nav-item{
    padding: 0 18px;
}
.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
}
@media (max-width:1028px){
       #title{
        text-align: center;
       }
       .title-image{
            transform: rotate(0);
            position: static;
       }
}
#features{
    padding: 7% 15%;
    position: relative;
    background-color: #fff;
}
.title-image-own{
    position: relative;
}
.download-button{
    margin: 30px 20px 0 0;
}
h3{
    font-family: 'Montserrat';
    font-weight: bold;
}
p{
    color: #8f8f8f;
}
.features-box{
    text-align: center;
    padding: 5%;
}
.icon{
    margin-bottom: 1.5rem;
    color: #ef8172;
}
.icon:hover{
   color:#ff4c68;
}
#testimonials{
    text-align: center;
    background-color: #ef8172;
    
    color: #fff;
}
.testimonials-image{
    width: 10%;
    margin: 20px;
    border-radius: 100%;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-image{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}
.own-first{
 margin:40px;
 margin-top: 0;
 margin-left: 0;
 border: var(--bs-card-border-width) solid var(--bs-card-border-color);
}
.own-second{
    margin:40px;
    margin-top: 0;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
}
.own-third{
    margin:40px;
    margin-top: 0;
    margin-right: 0;
    border-left: solid;
}
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}
#cta{
    text-align: center;
    background-color: #ff4c68;
}
.cta-head{
    font-family: 'Montserrat';
    font-size: 3.5rem;
    font-weight: bold;
    color: #fff;
    line-height: 1.5;
    padding: 100px 260px 65px 260px;
}
.cta-icon{
    display: inline-block;
    padding: 17px;
    padding-bottom: 100px;
}
#footer{
    text-align: center;
    background-color: #fff;
}
.footer-icon{
    padding: 100px 15px 35px 15px;
}
.p-footer{
    margin-bottom: 50px;
}